# Core scientific packages

jupyter==1.0.0
matplotlib==2.2.2
numpy==1.14.1
pandas==0.22.0
scipy==1.1.0

# Machine learning packages

scikit-learn==0.19.1

# Deep learning packages

tensorflow==1.8.0


# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr==2.6.5

# Optional: this extension is handy to easily start/stop tensorboard
# server(s) directly from Jupyter.
jupyter-tensorboard==0.1.6

# Optional: these are useful Jupyter extensions, in particular to display the
# table of contents
jupyter-contrib-nbextensions==0.5.0